#navigation{
	width:140px
}

#navigation table{
	width:100%
}

#navigation input{
	width:100%
}

#content{
	position: relative;
}
#canvas {
	background-color: gray;
	border: gray 1px solid;
	z-index: 0;
	position: absolute;
}
#arrows {
	z-index: 20;
	position: absolute;
	pointer-events: none;
}
.images {
	position: absolute;
	z-index: 10;
}
#turn {
	text-align: center;
	font-weight: bold;
	vertical-align: bottom;
}
.red_turn {
	text-align: center;
	background-color: red;
	color: black;
}
.black_turn {
	text-align: center;
	background-color: black;
	color: white;
}
.wrapper {
	position: relative;
	height: 400px;
	width: 400px;
	background-color: blue;
}

.moving_checker {
	z-index: 100000;
}
